.header {
  height: 70px;
  background-color: silver;
  font-size: 20px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: start;
}
.body {
}
.shoreline-map {
  width: 100%;
  cursor: zoom-in;
}
#toc-content {
  display: none;
}
#toc-toggle {
  cursor: pointer;
  color: #2962ff;
}
#toc-toggle:hover {
  text-decoration: underline;
}

.top-button {
  margin-left: 150px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
#menu1 {
  width: 1920px;
  height: 1080px;
  background-color: orange;
}
#menu2 {
  width: 1920px;
  height: 1080px;
  background-color: yellow;
  display: flex;
}
#menu3 {
  width: 1920px;
  height: 1080px;
  background-color: yellowgreen;
}
#map-bar {
  font-size: large;
  background-color: gray;
  width: 4%;
  height: 100%;
}
#map-window {
  width: auto;
  height: 100%;
  background-color: tomato;
}
#map-window > img {
  height: inherit;
  width: inherit;
}
