.header {
  height: 70px;
  background-color: silver;
  font-size: 20px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-weight: 500;
  justify-content: start;
}
.body {
}
.shoreline-map {
  width: 100%;
  cursor: zoom-in;
}
#toc-content {
  display: none;
}
#toc-toggle {
  cursor: pointer;
  color: #2962ff;
}
#toc-toggle:hover {
  text-decoration: underline;
}

.top-button {
  margin-left: 150px;
  margin-right: 50px;
  display: flex;
  justify-content: space-around;
  width: 80%;
}
#menu1 {
  width: 1920px;
  height: 1080px;
  background-color: orange;
}
#menu2 {
  width: 1920px;
  height: 1080px;
  background-color: rgb(56, 56, 56);
  display: flex;
}
#menu3 {
  width: 1920px;
  height: 1300px;
  background-color: rgb(8, 6, 5);
  color: aliceblue;
}
#map-bar {
  font-size: large;
  background-color: gray;
  width: 4%;
  height: 100%;
}
#map-window {
  width: auto;
  height: 100%;
}
#map-window > img {
  height: inherit;
  width: inherit;
}
.bulletType {
  font-size: large;
  font-weight: 800;
}
.bullet {
  display: flex;
  flex-direction: row;
}
.bullet > div {
  margin-left: 30px;
  display: flex;
  flex-direction: column;
}
.List > img {
  margin-top: 17px;
  max-width: 60px;
  cursor: grab;
}

.List > img:active {
  cursor: grabbing;
}

.aaa {
  border: 1px solid white;
}
